<html lang="en">
  <head>
   {{>headerLinks}}
  </head>
  <body>

    {{>navbar}}

    <!-- Main Header -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- main Header Left -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>Get The Latest <span>Weather</span> Info of Your City</h1>
              <a href="/weather"><button>check now</button></a>
            </div>
            <!-- Main Header Right -->
            <div class="col-md-6 col-12 main_header_right">
              <div
                id="carouselExampleControls"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/1.jpg" class=" w-100" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="images/rain2.jpg" class="w-100" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="images/3.jpg" class="w-100" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="images/sunny1.jpg" class="w-100" alt="..." />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

{{>footer}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="js/main.js"></script>
  </body>
</html>